<h1>Mis Historias</h1>

<% @stories.each do |story| %>
    <% if story.user_id == current_user.id %>
        <%= story.title %>
        <%= story.content %>
        <%= image_tag(story.picture) %>
    <% end %>
<% end %>